<%
    suit1 = rand(1..4)
    suit2 = rand(1..4)
    suit3 = rand(1..4)
    suit4 = rand(1..4)
%>

<% suits = ["diamonds", "hearts", "clubs", "spades] %>
<% numbers = ["2","3","4","5","6","7","8","9","10","Jack","Queen","King","Ace"]

suite1 = rand(1..4)
suite2 = rand(1..4)
suite3 = rand(1..4)
suite4 = rand(1..4)
%>


<%= card1 %>
<%= card2 %>
</p>
<a href="/card">Pick again!</a>
</p>